# {{ project_name }}

{{ project_description }}

## Installing

To install this package, run:

```sh
pip install {{ project_name_kebab_case }}
```

## Using

Example usage:

```python
import {{ project_name_snake_case }}

...
```

## Contributing

<details>
<summary>Prerequisites</summary>

1. [Install uv](https://docs.astral.sh/uv/getting-started/installation/).
1. _Optional:_ install a [Nerd Font](https://www.nerdfonts.com/font-downloads) such as [FiraCode Nerd Font](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/FiraCode) and configure your editor to use it.

</details>

<details open>
<summary>Development environment setup</summary>

Clone this repository and run the following from root of the repository:

```sh
# Create and install a virtual environment
uv sync --python {{ python_version }} --all-extras

# Activate the virtual environment
source .venv/bin/activate

# Install the pre-commit hooks
pre-commit install --install-hooks
```

</details>

<details open>
<summary>Developing</summary>

- Run `poe` from within the development environment to print a list of [Poe the Poet](https://github.com/nat-n/poethepoet) tasks available to run on this project.
- Run `uv add {package}` from within the development environment to install a run time dependency and add it to `pyproject.toml` and `uv.lock`. Add `--dev` to install a development dependency.
- Run `uv sync --upgrade` from within the development environment to upgrade all dependencies to the latest versions allowed by `pyproject.toml`. Add `--only-dev` to upgrade the development dependencies only.

</details>
